.secao {
  padding: 0 72px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}

.input {
    margin-left: 8px;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .secao {
    margin-bottom: 24px;
  }
}
