.container {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* max-width: 1024px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #001C30;
}

.form {
    display: flex;
}

.titulo {
    margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    align-items: center;
    width: 100vw;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titulo {
    text-align: center;
}
}
